NAS_VISION_IP_ADDRESS=172.16.0.0
NAS_VISION_BRIDGE_NETWORK=localhost

# Better Auth Configuration
# Generate a secret key using: openssl rand -base64 32
BETTER_AUTH_SECRET=REPLACE_AUTH_SECRET_HERE

# App data
NAS_VISION_DATA=./data
NAS_VISION_UPLOADS=./uploads
